__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/
d3rlpy_logs/
logs/
logs_archive/
.pytest_cache/
.vscode/
.idea/
*.log
*.sqlite
user_cache/
user_uploads/
user_models/
d3rlpy_data/
legacy_files/
archives/

**/uploads/*.csv
**/uploads/*.xlsx

workspace/
